.MovieItem{
    aspect-ratio: 2 / 3;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    min-width: 12rem;
    flex-direction: column;
}
.MovieItem__img{
    margin-bottom: 1.5rem;
}
.MovieItem__title{
    z-index: 6;
    transition: opacity .3s linear;
    font-size: 1rem;
    font-weight: var(--font-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media(max-width: 600px){
    .MovieItem{
        min-width: 9rem;
    }
}