.latestCarousel{
    overflow: hidden;
    position: relative;
    justify-items: center;
    background-color: var(--black-color);
}
.latestCarousel__nav{
    gap:1rem;
    position: absolute;
    bottom: 8%;
    width: 100%;
    justify-content: center;
    z-index: 10;
}
.latestCarousel__nav__line{
    width: 2rem;
    height: .5rem;
    background-color: #b6b6b6;
    cursor: pointer;
    transition: width .2s linear, background-color .2s linear;
}
.latestCarousel__nav__line:hover{
    width: 3rem;
    background-color: var(--first-color);
}
@media(max-width:1100px){
    .latestCarousel{
        padding-bottom: 6rem;
    }
    .latestCarousel__nav{
        bottom: 5rem;
    }
    /*.latestCarousel__nav__line{
        width: 1rem;
        height: .5rem;
    }
    .latestCarousel__nav__lineActive{
        background-color: #fff;
        width: 1.5rem;
    }*/
}
@media(max-width:600px){
    .latestCarousel__nav{
        bottom: 4rem;
        max-width: 85%;
        gap: .8rem;
    }
    /*.latestCarousel__nav__line{
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        transition: transform .3s linear;
    }
    .latestCarousel__nav__lineActive{
        width: .5rem;
        transform: scale(1.5);
    }*/
}