.Carousel{
    position: relative;
}
.carouselItems{
    gap:2rem;
    overflow-x: scroll;
}
.carouselItems::-webkit-scrollbar {
    height: 0;
}
.arrow{
    position: absolute;
    top: 45%;
    width: 3rem;
    height: 3rem;
    z-index: 5;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s linear;
    border-radius: 50%;
}
.arrow:hover{
    background-color: #ffffff33;
}
.arrowLeft{
    left: -3rem;
}
.arrowRight{
    right: -3rem;
}
@media(max-width:1100px){
    .arrow{
        display: none;
    }
}